{% extends 'layout.html' %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-5 col-lg-4">
            <form method="post">
                {% csrf_token %}
                {{ form.non_field_errors }}

                <h1 class="h1 mb-4 fw-normal text-center">{% block title %}{% endblock %}</h1>

                {# Все поля формы пользователя #}
                {% if form %}
                    {% for field in form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field|add_class:"form-control" | attr:"placeholder:"|add:field.label }}
                            {% if field.errors %}
                                <div class="text-danger mt-1">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}

                {# Все поля формы пароля, если есть #}
                {% if password_form %}
                    {% for field in password_form %}
                        <div class="mb-3">
                            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                            {{ field|add_class:"form-control" | attr:"placeholder:"|add:field.label }}
                            {% if field.errors %}
                                <div class="text-danger mt-1">{{ field.errors }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endif %}

                <div class="d-grid">
                    <button class="btn btn-primary py-2" type="submit">{% block btn %}{% endblock %}</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
